* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
  }

  body {
    background-color: #fafafa;
  }

  .main{
    width: 700px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
    left: 0px;
    right: 0px;
    top: 20px;
    border: 2px solid black;
  }

  .first-head{
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
    left: 0px;
    right: 0px;
  }

  .sec-head {
    text-align: center;
    top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
    left: 0px;
    right: 0px;
  }
  label-state-city{
    top: 100px;
  }

  .st1{
    margin: 20px;
  }
  .ct1{
    margin: 20px;
  }
  #city{
    margin: 20px;
  }
  
  #info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
    left: 0px;
    right: 0px;
    top: 360px;
    font-size: 1.5em;
    background-color:#bfd485 ;
    /*border: 1px solid black;*/
    width: 500px;
    height: 200px;
    border-radius: 10px;
  }
  #temp{
    position: absolute;
    top: 48px;
    left:30px;
    font-size: 1.5em;
    /*border: 1px solid black;*/
    width: 100px;
    height: 100px;
}

#main{
    position: absolute;
    margin: auto;
    left: 0px;
    right: 0px;
    font-size: 1.5em;
    /*border: 1px solid black;*/
    width: 100px;
    height: 100px;
}

/*#des{
    position: absolute;
    bottom: 48px;
    right: 20px;
    font-size: 1.5em;
    /*background:rgba(216, 250, 239, 0.555);
    border-radius: 0 0 10px 10px;
    border: 1px solid black;
    width: 100px;
    height: 100px;
}*/
#cityName{
  position: absolute;
  top:0;
  left:0;
  font-size: 1.5em;
  width:290px;
  white-space: nowrap;
  /*overflow-x: scroll;*/
}
#image{
  position: absolute;
  top:10px;
  right:10px;
  background:#c6ccc1;
  height: 100px;
  border-radius: 50%;
  border: 0.2px dotted black;
  box-shadow: 0 0 20px 2px #bfd485 ;
}
  